<header class="w-full h-20 bg-[#3980ff] shadow-md p-4">
  <div class="h-full flex justify-center items-center text-white relative">
    <a href="{{ route('/logout') }}">
      @svg('heroicons:chevron-left', { 'class': 'w-12 h-12 absolute left-0 top-0' })
    </a>
    <span class="text-xl font-semibold">{{ title }}</span>
  </div>
</header>
